<div style="height:100%" *ngIf="isHome()">
  <router-outlet></router-outlet>
</div>

<div style="height:100%;display:flex;flex-direction: column;" *ngIf="!isHome()">
  <mat-toolbar color="primary" style="flex-shrink: 0;">
    <button mat-button class="sidenav-toggle" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">{{currentTitle()}}</span>
    <ng-container *ngIf="!remult.authenticated()">
      <div class="auth-buttons">
        <button mat-stroked-button (click)="signIn()">{{terms.signIn}}</button>
        <button mat-flat-button color="accent" (click)="signUp()">{{terms.signUp}}</button>
      </div>
    </ng-container>
    <ng-container *ngIf="remult.authenticated()">
      <button mat-button class="user-menu-trigger" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        {{remult.user.name}}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="updateInfo()">
          <mat-icon>person</mat-icon>
          {{terms.updateInfo}}
        </button>
        <button mat-menu-item (click)="changePassword()">
          <mat-icon>lock</mat-icon>
          {{terms.changePassword}}
        </button>
        <button mat-menu-item (click)="signOut()">
          <mat-icon>logout</mat-icon>
          {{terms.signOut}}
        </button>
      </mat-menu>
    </ng-container>
  </mat-toolbar>
  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z4 no-print" [opened]="false"
      [mode]="dialogService.isScreenSmall()?'over':'side'">
      <div class="sidenav-header" *ngIf="remult.authenticated()">
        <p class="user-greeting">{{terms.hello}} {{remult.user.name}}</p>
        <span class="admin-badge" *ngIf="isAdmin()">
          <mat-icon>admin_panel_settings</mat-icon>
          Administrator
        </span>
      </div>
      <mat-nav-list role="list">
        <ng-container *ngFor="let m of router.config">
          <mat-list-item *ngIf="shouldDisplayRoute(m)" routerLinkActive="active-route">
            <a matLine [routerLink]="m.path" (click)="routeClicked()">{{routeName(m)}}</a>
          </mat-list-item>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    <div class="app-sidenav-content">
      <div class="wrapper" style="height:100%">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-container>
</div>
